.dr-pediatrician-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  width: 1353px;
  height: 690px;
}
.dr-eijah2,
.specialist-cardiologist2 {
  position: absolute;
  left: 0;
  letter-spacing: -0.3px;
  display: inline-block;
}
.specialist-cardiologist2 {
  top: 106.89px;
  font-weight: 300;
  color: var(--color-slategray-100);
  width: 511.09px;
  height: 69.89px;
}
.dr-eijah2 {
  top: 0;
  width: 499.48px;
  height: 86.33px;
}
.dr-eijah2,
.rs-5002 {
  font-weight: 500;
}
.hr2 {
  font-weight: 300;
  color: var(--color-slategray-300);
}
.rs-50000hr2 {
  position: absolute;
  top: 213.78px;
  left: 487.86px;
  letter-spacing: -0.3px;
  display: inline-block;
  width: 298.14px;
  height: 82.22px;
}
.button-child,
.text3 {
  position: absolute;
  top: 80px;
  left: 491px;
  width: 786px;
  height: 296px;
}
.button-child {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-26xl);
  background-color: var(--color-deepskyblue);
}
.book-now {
  position: absolute;
  height: 36.26%;
  width: 41.03%;
  top: 31.45%;
  left: 31.69%;
  font-weight: 500;
  display: inline-block;
}
.button1 {
  position: absolute;
  top: 444.71px;
  left: 395.8px;
  border-radius: var(--br-26xl);
  width: 565.43px;
  height: 118.59px;
  cursor: pointer;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
}
.image-inner,
.image2,
.star-icon2 {
  position: absolute;
  width: 371.57px;
  height: 322.41px;
}
.image-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.image2,
.star-icon2 {
  top: 66.71px;
  left: 76.74px;
}
.star-icon2 {
  height: 8.7%;
  width: 28.6%;
  top: 42.61%;
  right: 34.15%;
  bottom: 48.7%;
  left: 37.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dr-pediatrician2,
.group-child6 {
  position: absolute;
  top: 124px;
  left: 16px;
  width: 1353px;
  height: 690px;
}
.group-child6 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 80px;
  height: 80px;
}
.group-icon2 {
  position: absolute;
  height: 43.47%;
  width: 23.02%;
  top: 24.94%;
  right: 37.9%;
  bottom: 31.59%;
  left: 39.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 19px;
  left: 37px;
  width: 80px;
  height: 80px;
}
.doctor-details {
  position: absolute;
  top: 34px;
  left: 147px;
  letter-spacing: -0.3px;
  font-weight: 500;
  display: inline-block;
  width: 317px;
  height: 65px;
}
.map-icon {
  position: absolute;
  top: 1124px;
  left: 0;
  width: 1385px;
  height: 1035px;
}
.patient-child,
.tab-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
}
.tab-child {
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  width: 1353px;
  height: 228px;
}
.patient-child {
  background-color: var(--color-lightgray);
  width: 399.25px;
  height: 173.71px;
  opacity: 0.12;
}
.div,
.patient1 {
  position: absolute;
  top: 99.86px;
  left: 142.17px;
  letter-spacing: -0.3px;
  font-weight: 300;
  display: inline-block;
  width: 195.19px;
  height: 46.14px;
}
.div {
  top: 26.86px;
  left: 163.17px;
  font-weight: 500;
  color: var(--color-darkslategray);
  width: 146.39px;
  height: 57px;
}
.div1,
.ongoing1,
.patient {
  position: absolute;
  top: 27.14px;
  left: 913.83px;
  width: 399.25px;
  height: 173.71px;
}
.div1,
.ongoing1 {
  top: 99.86px;
  left: 135.91px;
  letter-spacing: -0.3px;
  font-weight: 300;
  display: inline-block;
  width: 223px;
  height: 41px;
}
.div1 {
  top: 26.86px;
  left: 164.91px;
  font-weight: 500;
  color: var(--color-darkslategray);
  width: 115px;
  height: 57px;
}
.div2,
.ongoing,
.runing1 {
  position: absolute;
  top: 27.14px;
  left: 479.09px;
  width: 399.25px;
  height: 173.71px;
}
.div2,
.runing1 {
  top: 92.86px;
  left: 120.64px;
  letter-spacing: -0.3px;
  font-weight: 300;
  display: inline-block;
  width: 195.19px;
  height: 46.14px;
}
.div2 {
  top: 26.86px;
  left: 147.64px;
  font-weight: 500;
  color: var(--color-darkslategray);
  width: 141.95px;
  height: 57px;
}
.runing,
.tab {
  position: absolute;
  top: 27.14px;
  left: 44.36px;
  width: 399.25px;
  height: 173.71px;
}
.tab {
  top: 862px;
  left: 16px;
  width: 1353px;
  height: 228px;
  font-size: var(--font-size-23xl);
  color: var(--color-slategray-100);
}
.image-28-icon {
  position: absolute;
  top: 45px;
  left: 61px;
  width: 51px;
  height: 45px;
  object-fit: cover;
}
.image-28-parent,
.reviews {
  position: absolute;
  width: 167px;
}
.reviews {
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  display: inline-block;
  height: 45px;
}
.image-28-parent {
  top: 708px;
  left: 634px;
  height: 90px;
  font-size: var(--font-size-23xl);
  color: var(--color-black);
}
.desktop-11 {
  position: relative;
  background: linear-gradient(
    161.55deg,
    rgba(11, 171, 240, 0.81),
    rgba(100, 202, 245, 0.57) 17.71%,
    rgba(180, 232, 254, 0.63) 30.21%,
    rgba(181, 233, 255, 0.62) 50.26%,
    rgba(250, 253, 255, 0.47) 76.06%,
    rgba(179, 210, 217, 0.49)
  );
  width: 100%;
  height: 2159px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
  font-family: var(--font-rubik);
}
